.alert-success {
    background-color: #28a745; /* Green */
}

.alert-warning {
    background-color: #ffc107; /* Yellow */
}

.alert-danger {
    background-color: #dc3545; /* Red */
}

.alert-info {
    background-color: #17a2b8; /* A shade of blue */
}

nav li {
    display: inline;
    background-color: #336699; /* Rebecca Purple */
}

nav li a {
    color: white;
}

input {
    border-radius: 0;
}

body {
    background-color: #87CEEB; /* Sky Blue */
    color: #00008b; /* Dark Purple */
}
